$color-light: #f2efeb;
$color-dark: #261501;

$color-green: #0fd9a4;
$color-light-green: #53dfba;
$color-dark-green: #21594a;

$color-blue: #049dd9;
$color-light-blue: #47b4df;
$color-dark-blue: #1d4859;

$color-red: #d9471a;
$color-light-red: #df7c5e;
$color-dark-red: #593225;

$color-yellow: #d9a81a;
$color-light-yellow: #dfbf5e;
$color-dark-yellow: #594c25;

$primary-color: $color-light-green;
$secondary-color: $color-green;
