html {
  @include fluid-font-size($min-font-size, $max-font-size, $min-screen-size, $max-screen-size); //TODO: consider whether fluid fonts should be part of core
}

body {
  color: $color-dark;
  background-color: $color-light;
  font-family: $font-family;
}
