<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palm Tree CSS | Documentation</title>
    <!-- Link Palm Tree icon -->
    <link rel="shortcut icon" href="../assets/isotype.svg" type="image/x-icon" />
    <!-- Link Palm Tree CSS -->
    <link rel="stylesheet" href="../sass/style.scss" />
  </head>
  <body>
    <main class="container">Coming soon...</main>
  </body>
</html>
