@use '../themes/default' as *;

form {
  font-family: $font;

  & .input {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid $color_light;
    width: 100%;
    margin-bottom: 20px;
  }

  &:focus {
    border: 1px solid $color_green;
    outline: none;
  }
}
