.nav {
  background-color: $color_green;
  display: flex;
  display: wrap;
}

.nav .container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.nav a {
  color: $color_light;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 15px 25px;
  transform: 0.3s ease all;
  font-size: 1.8rem;
}

.nav a.active,
.nav a:hover {
  background-color: $color_light_green;
}
