h1 {
  font-size: px-to-rem(24px);
}

h2 {
  font-size: px-to-rem(22px);
}

h3 {
  font-size: px-to-rem(18px);
}

h4 {
  font-size: px-to-rem(16px);
}

h5 {
  font-size: px-to-rem(12px);
}

h6 {
  font-size: px-to-rem(10px);
}
