// Background Colors
.bg-light {
  background-color: $color_light;
}

.bg-dark {
  background-color: $color_dark;
}

.bg-green {
  background-color: $color_green;
}

.bg-light-green {
  background-color: $color_light_green;
}

.bg-dark-green {
  background-color: $color_dark_green;
}

.bg-blue {
  background-color: $color_blue;
}

.bg-light-blue {
  background-color: $color_light_blue;
}

.bg-dark-blue {
  background-color: $color_dark_blue;
}

.bg-red {
  background-color: $color_red;
}

.bg-light-red {
  background-color: $color_light_red;
}

.bg-dark-red {
  background-color: $color_dark_red;
}

.bg-yellow {
  background-color: $color_yellow;
}

.bg-light-yellow {
  background-color: $color_light_yellow;
}

.bg-dark-yellow {
  background-color: $color_dark_yellow;
}

// Hover and active colors
.hover-bg-light:hover,
.hover-bg-light:active {
  background-color: $color_light;
}

.hover-bg-dark:hover,
.hover-bg-dark:active {
  background-color: $color_dark;
}

.hover-bg-green:hover,
.hover-bg-green:active {
  background-color: $color_green;
}

.hover-bg-light-green:hover,
.hover-bg-light-green:active {
  background-color: $color_light_green;
}

.hover-bg-dark-green:hover,
.hover-bg-dark-green:active {
  background-color: $color_dark_green;
}

.hover-bg-blue:hover,
.hover-bg-blue:active {
  background-color: $color_blue;
}

.hover-bg-light-blue:hover,
.hover-bg-light-blue:active {
  background-color: $color_light_blue;
}

.hover-bg-dark-blue:hover,
.hover-bg-dark-blue:active {
  background-color: $color_dark_blue;
}

.hover-bg-red:hover,
.hover-bg-red:active {
  background-color: $color_red;
}

.hover-bg-light-red:hover,
.hover-bg-light-red:active {
  background-color: $color_light_red;
}

.hover-bg-dark-red:hover,
.hover-bg-dark-red:active {
  background-color: $color_dark_red;
}

.hover-bg-yellow:hover,
.hover-bg-yellow:active {
  background-color: $color_yellow;
}

.hover-bg-light-yellow:hover,
.hover-bg-light-yellow:active {
  background-color: $color_light_yellow;
}

.hover-bg-dark-yellow:hover,
.hover-bg-dark-yellow:active {
  background-color: $color_dark_yellow;
}
