.container {
  max-width: 90%;
  width: $container-width;
  margin: 20px auto;
  overflow: hidden;
}

.full-container {
  width: 100%;
  padding: 0 40px;
  margin: 20px auto;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
