.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: center;
  line-height: 2.2rem;
  transition: 0.3s ease all;
}
