// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Small size (Phone) */
.display-1 {
  font-weight: 700;
  font-size: px-to-rem(64px);
}

.display-2 {
  font-weight: 700;
  font-size: px-to-rem(54px);
}

.display-3 {
  font-weight: 700;
  font-size: px-to-rem(44px);
}

.display-4 {
  font-weight: 700;
  font-size: px-to-rem(34px);
}

.display-5 {
  font-weight: 700;
  font-size: px-to-rem(24px);
}

.display-6 {
  font-weight: 700;
  font-size: px-to-rem(14px);
}

/* Medium size (Tablet) */
@media screen and (min-width: 992px) {
  h1,
  h2 {
    font-size: px-to-rem(30px);
  }

  h3 {
    font-size: px-to-rem(24px);
  }

  h4 {
    font-size: px-to-rem(21px);
  }

  h5 {
    font-size: px-to-rem(18px);
  }

  h6 {
    font-size: px-to-rem(16px);
  }

  p {
    font-size: px-to-rem(21px);
  }
}

/* Large size (Desktop and TV) */
@media screen and (min-width: 576px) {
  h1,
  h2 {
    font-size: px-to-rem(33px);
  }

  h3 {
    font-size: px-to-rem(28px);
  }

  h4 {
    font-size: px-to-rem(24px);
  }

  h5 {
    font-size: px-to-rem(20px);
  }

  h6 {
    font-size: px-to-rem(17px);
  }

  p {
    font-size: px-to-rem(24px);
  }
}
