// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: px-to-rem(32px);
}

h2 {
  font-size: px-to-rem(28px);
}

h3 {
  font-size: px-to-rem(24px);
}

h4 {
  font-size: px-to-rem(21px);
}

h5 {
  font-size: px-to-rem(18px);
}

h6 {
  font-size: px-to-rem(16px);
}

p {
  font-size: px-to-rem(21px);
  margin-top: 0;
  margin-bottom: 10px;
}

.display-1 {
  font-weight: 700;
  font-size: clamp(px-to-rem(32px), 3rem + 0.87vw, px-to-rem(64px));
}

.display-2 {
  font-weight: 700;
  font-size: clamp(px-to-rem(30px), 2.75rem + 0.87vw, px-to-rem(54px));
}

.display-3 {
  font-weight: 700;
  font-size: px-to-rem(44px);
}

.display-4 {
  font-weight: 700;
  font-size: px-to-rem(34px);
}

.display-5 {
  font-weight: 700;
  font-size: px-to-rem(24px);
}

.display-6 {
  font-weight: 700;
  font-size: px-to-rem(14px);
}

