// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.display-1 {
  font-weight: 700;
  font-size: px-to-rem(64px);
}

.display-2 {
  font-weight: 700;
  font-size: px-to-rem(54px);
}

.display-3 {
  font-weight: 700;
  font-size: px-to-rem(44px);
}

.display-4 {
  font-weight: 700;
  font-size: px-to-rem(34px);
}

.display-5 {
  font-weight: 700;
  font-size: px-to-rem(24px);
}

.display-6 {
  font-weight: 700;
  font-size: px-to-rem(14px);
}

h1,
h2 {
  @include respond-to(md) {
    font-size: px-to-rem(30px);
  }

  @include respond-to(xs) {
    font-size: px-to-rem(33px);
  }
}

h3 {
  @include respond-to(md) {
    font-size: px-to-rem(24px);
  }

  @include respond-to(xs) {
    font-size: px-to-rem(28px);
  }
}

h4 {
  @include respond-to(md) {
    font-size: px-to-rem(21px);
  }

  @include respond-to(xs) {
    font-size: px-to-rem(24px);
  }
}

h5 {
  @include respond-to(md) {
    font-size: px-to-rem(18px);
  }

  @include respond-to(xs) {
    font-size: px-to-rem(20px);
  }
}

h6 {
  @include respond-to(md) {
    font-size: px-to-rem(16px);
  }

  @include respond-to(xs) {
    font-size: px-to-rem(17px);
  }
}

p {
  @include respond-to(md) {
    font-size: px-to-rem(21px);
  }

  @include respond-to(xs) {
    font-size: px-to-rem(24px);
  }
}
