// Colors
.color-light {
  color: $color_light;
}

.color-dark {
  color: $color_dark;
}

.color-green {
  color: $color_green;
}

.color-light-green {
  color: $color_light_green;
}

.color-dark-green {
  color: $color_dark_green;
}

.color-blue {
  color: $color_blue;
}

.color-light-blue {
  color: $color_light_blue;
}

.color-dark-blue {
  color: $color_dark_blue;
}

.color-red {
  color: $color_red;
}

.color-light-red {
  color: $color_light_red;
}

.color-dark-red {
  color: $color_dark_red;
}

.color-yellow {
  color: $color_yellow;
}

.color-light-yellow {
  color: $color_light_yellow;
}

.color-dark-yellow {
  color: $color_dark_yellow;
}

// Hover and active color
.hover-color-light:hover,
.hover-color-light:hover {
  color: $color_light;
}

.hover-color-dark:hover,
.hover-color-dark:hover {
  color: $color_dark;
}

.hover-color-green:hover,
.hover-color-green:hover {
  color: $color_green;
}

.hover-color-light-green:hover,
.hover-color-light-green:hover {
  color: $color_light_green;
}

.hover-color-dark-green:hover,
.hover-color-dark-green:hover {
  color: $color_dark_green;
}

.hover-color-blue:hover,
.hover-color-blue:hover {
  color: $color_blue;
}

.hover-color-light-blue:hover,
.hover-color-light-blue:hover {
  color: $color_light_blue;
}

.hover-color-dark-blue:hover,
.hover-color-dark-blue:hover {
  color: $color_dark_blue;
}

.hover-color-red:hover,
.hover-color-red:hover {
  color: $color_red;
}

.hover-color-light-red:hover,
.hover-color-light-red:hover {
  color: $color_light_red;
}

.hover-color-dark-red:hover,
.hover-color-dark-red:hover {
  color: $color_dark_red;
}

.hover-color-yellow:hover,
.hover-color-yellow:hover {
  color: $color_yellow;
}

.hover-color-light-yellow:hover,
.hover-color-light-yellow:hover {
  color: $color_light_yellow;
}

.hover-color-dark-yellow:hover,
.hover-color-dark-yellow:hover {
  color: $color_dark_yellow;
}
