@charset 'utf-8';

// Abstracts
@import "./abstracts/helpers";
@import "./abstracts/variables";

// Base stuff
@import "./base/fonts";
@import "./base/reset";

// Components
@import "./components/button";
@import "./components/card";
@import "./components/form";
@import "./components/nav";
@import "./components/typography";

// Layout
@import "./layout/container";
@import "./layout/layout";

// Themes
@import "./themes/default.scss";

/* General Styles */
body {
  color: var(--color_dark);
  background-color: var(--color_light);
  font-family: var(--font);
  font-size: 1.8rem;
}

p {
  line-height: 27px;
}

img {
  vertical-align: top;
  width: 100%;
}
