@charset 'utf-8';

// Utilities
@use './utilities/' as *;

// Base stuff
@use './base/' as *;

// Components
@use './components/' as *;

// Layout
@use './layout/' as *;

// Themes
@use './themes/' as *;
@use './themes/default' as *;

// Abstracts
@use './abstracts/' as *;

/* General Styles */
body {
  color: $color_dark;
  background-color: $color_light;
  font-family: $font;
  font-size: 1.8rem;
}

p {
  line-height: 27px;
}

img {
  vertical-align: top;
  width: 100%;
}
