---
import '@sass/style.scss';

import Layout from '../layouts/Layout.astro';
---

<Layout title='Palm Tree CSS | Demo'>
  <header>
    <nav class='nav bg-light-blue'>
      <div class='container'>
        <a href='#' class='hover-bg-blue'>Home</a>
        <a href='#' class='hover-bg-blue'>Blog</a>
        <a href='#' class='hover-bg-blue'>About</a>
        <a href='#' class='hover-bg-blue'>Contact</a>
      </div>
    </nav>
  </header>
  <main class='container'>
    <h1 class='display-1'>Palm Tree CSS</h1>
    <hr />
    <section>
      <h1 class='display-1'>Display 1</h1>
      <h2 class='display-2'>Display 2</h2>
      <h3 class='display-3'>Display 3</h3>
      <h4 class='display-4'>Display 4</h4>
      <h5 class='display-5'>Display 5</h5>
      <h6 class='display-6'>Display 6</h6>

      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
        <span class='bold'>THIS IS A BOLD TEXT</span> obcaecati necessitatibus nemo reprehenderit nihil dolor exercitationem
        perferendis eum quo expedita beatae iusto excepturi quis.
      </p>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur doloremque,
        <span class='italic'>THIS IS A ITALIC TEXT</span> sint officia debitis neque, molestiae expedita itaque quos ratione
        iusto soluta nobis! Temporibus accusantium culpa accusamus.
      </p>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        <a href='#' class='hover-color-blue hover-underline pointer regular'>THIS IS A LINK AND REGULAR TEXT</a> Aperiam
        placeat labore, ipsa recusandae amet quidem culpa voluptates quos ducimus dolorum excepturi ipsam sed.
      </p>
    </section>
    <section class='grid col-4 med-col-2 small-col-1'>
      <div class='card bg-light'>Card 1</div>
      <div class='card bg-dark color-light'>Card 2</div>
      <div class='card bg-light-green'>Card 3</div>
      <div class='card bg-light-blue'>Card 4</div>
      <div class='card bg-light-red'>Card 5</div>
      <div class='card bg-light-yellow'>Card 6</div>
      <div class='card bg-dark-green color-light-green'>Card 7</div>
      <div class='card bg-dark-blue color-light-blue'>Card 8</div>
    </section>
    <section class='card text-center'>
      <h1 class='display-1 no-margin'>Palm Tree CSS</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat sequi rerum ipsam adipisci ea quis perferendis
        et eius delectus quia asperiores saepe, eos distinctio vitae. Minus voluptatibus temporibus distinctio nesciunt?
      </p>
      <button class='btn'>Primary Button</button>
      <button class='btn'>Secundary Button</button>
    </section>
    <section class='grid col-3'>
      <section class='span-2 small-span-3'>
        <article class='card'>
          <h1>Lorem ipsum dolor sit amet.</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem ducimus minima vitae voluptate, laboriosam,
            odit odio porro vero modi nesciunt, cupiditate sapiente consequuntur? Assumenda repudiandae ipsam expedita
            asperiores repellat voluptates!
          </p>
        </article>
        <article class='card'>
          <h1>Lorem ipsum dolor sit amet.</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem ducimus minima vitae voluptate, laboriosam,
            odit odio porro vero modi nesciunt, cupiditate sapiente consequuntur? Assumenda repudiandae ipsam expedita
            asperiores repellat voluptates!
          </p>
        </article>
      </section>
      <section class='card span-1 small-span-3'>
        <h3>Form</h3>
        <form>
          <label for='email'>
            <span>E-mail:</span>
            <input class='input' type='email' name='email' placeholder='example@example.com' />
          </label>
          <label for='password'>
            <span>Password:</span>
            <input class='input' type='password' name='password' placeholder='********' />
          </label>
          <label for='password-confirmation'>
            <span>Confirm Password:</span>
            <input class='input' type='password' name='password-confirmation' placeholder='********' />
          </label>
          <button class='btn' type='submit'>Register</button>
          <button class='btn bg-red color-light hover-bg-light-red' type='submit'>Login</button>
        </form>
      </section>
    </section>
    <section class='card'>
      <h2>Colors</h2>
      <p class='color-light'>Color light</p>
      <p class='color-dark'>Color dark</p>
      <p class='color-green'>Color green</p>
      <p class='color-light-green'>Color light-green</p>
      <p class='color-dark-green'>Color dark-green</p>
      <p class='color-blue'>Color blue</p>
      <p class='color-light-blue'>Color light-blue</p>
      <p class='color-dark-blue'>Color dark-blue</p>
      <p class='color-red'>Color red</p>
      <p class='color-light-red'>Color light-red</p>
      <p class='color-dark-red'>Color dark-red</p>
      <p class='color-yellow'>Color yellow</p>
      <p class='color-light-yellow'>Color light-yellow</p>
      <p class='color-dark-yellow'>Color dark-yellow</p>
    </section>
  </main>
</Layout>
