---
import '@/sass/style.scss';

import Layout from '@/layouts/Layout.astro';
---

<Layout title='Palm Tree CSS | Home'>
  <main class='container'>
    <section class='card text-center'>
      <h1 class='margin-bottom color-green'>Palm Tree</h1>
      <p class='margin-bottom'>🌴 Minimalist. Modern. Simple. 🌴 An open source CSS framework.</p>
      <a class='btn margin-bottom' href='./demo.html' rel='noopener noreferrer'>Demo</a>
      <a class='btn margin-bottom' href='./documentation.html' rel='noopener noreferrer'>Documentation</a>
      <a class='btn margin-bottom' href='./download.html' rel='noopener noreferrer'>Download</a>
    </section>
  </main>
</Layout>
